body {
    background-color: rgb(33, 84, 10);
    margin: 0;
    padding: 20px 0;
    font-family: 'Inter', sans-serif;
}

h1 {
    color: goldenrod;
}

.main {
    display: flex;
    margin-top: 100px;
}

#startgame, #startNewGame {
    width: 250px;
    padding: 10px;
    font-size: 20px;
    background-color: goldenrod;
    border: none;
    border-radius: 10px;
    display: none
}

button {
    width: 250px;
    padding: 10px;
    font-size: 20px;
    background-color: goldenrod;
    border: none;
    border-radius: 10px;
}

#new-card {
    margin-top: 10px;
    display: none;
}

.cards {
    margin-top: 20px;
    gap: 10px;
    display: flex;
}

.card, .card-deck {
    height: 145px;
    width: 100px;
}

.card img, .card-deck img {
    width: 100%;
    height: auto;
}

.card-wrapper {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    align-items: center;
}

.game-outcome, .bet {
    text-align: center;
}

.score {
   color: goldenrod;
}

.bet-input {
    width: 200px;
    height: 30px;
    border: 2px solid goldenrod;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    box-shadow: 1px 1px 1px red;
}

.submit-btn {
    margin-top: 5px;
    width: 50%;
    height: 50%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}

#bet-form {
    display: flex;
    flex-direction: column;
}

#countdown {
    font-family: "Pixelify Sans", serif;
    color: #fff;
    background-color: rgb(57, 137, 19);
    border: 1px solid goldenrod;
    box-shadow: 1px 1px 1px red;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    display: none;
}

